<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='home.css') }}">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          
           
            <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            <a class="nav-item nav-link" id="delete" href="/delete">Delete</a>
            <a class="nav-item nav-link" id="delete" href="/commit">Commit</a>
            <a class="nav-item nav-link" id="delete" href="/see">SEE</a>
            <a class="nav-item nav-link" id="delete" href="/seemore">SEE MORE</a>
            
            
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
    <div class="welcoming">
        <h1 class="first">WELCOME TO DoPES!</h1>
        <br><br>
        <h3 class ="second"> Keep Adding repos to Your profile! 
             Build your Resume, show off Your skills.
        </h3>
        <br>
        <p class="third">What are you waiting for? Start Coding </p>
    </div>
    <div class="gotos">
        <form class="form" method="POST" action="/" enctype="multipart/form-data">
            <div class ="form-group">
                <label class="texts" >Name</label>
                <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter name of Repo"
                />
            </div>
            <div class ="form-group">
                <label class="texts" >Collaborators email</label>
                <input
                type="text"
                class="form-control"
                id="Collaborators"
                name="collaborators"
                placeholder="Enter emails"
                />
            </div>
            <div class ="form-group">
                <label class="texts" >Access</label>
                <input
                type="text"
                class="form-control"
                id="access"
                name="access"
                placeholder="public or private"
                />
            </div>

                <br>
            <input class="choose" type="file" name="file">
            <button>Submit</button>

        </form>
        <br><br>
            <table class="table">

                <tr>
                  <th>REPO ID</th>
                  <th>Collaborators</th>
                  <th>Timestap</th>
                </tr>
                {% for i in value %}
                <tr>
                    <td>
                        {{i[0]}}
                    </td>
                    <td>
                          {% for j in i[1] %}
                          {{j[0]}}{{","}}
                          {% endfor %}
                    </td>
                    <td>
                        {{i[2]}}
                    </td>                  
                </tr>
                {% endfor %}
                
              </table>
        
    </div>



  </body>
</html>