*{
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#38073e,rgb(244, 88, 26));

}
.nav{
    position: relative;

}


.span{
    color: "white";
}
.text h1.name{
    position:absolute;
    color:rgb(38, 180, 151);
}

.text p{

} 